* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #f5f5f5;
  font-family: sans-serif;
  background-color: #333;
}

.primary-color-bg {
  background-color: #333;
}

.primary-color {
  color: #333;
}

.container {
  max-width: 90%;
  margin: auto;
  background-color: transparent;
}

.score {
  width: 300px;
  height: 100px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.game {
  display: flex;
  justify-content: space-between;
}
.game .game-element img {
  width: 250px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
}